<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practic_1.Properties.Settings.Praka1ConnectionString"
            connectionString="Data Source=LAPTOP-QBUAKUHD;Initial Catalog=Praka1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Practic_1.Properties.Settings.PrakaRework1ConnectionString"
            connectionString="Data Source=LAPTOP-QBUAKUHD;Initial Catalog=PrakaRework1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Practic_1.Properties.Settings.PrakaRework2ConnectionString"
            connectionString="Data Source=LAPTOP-QBUAKUHD;Initial Catalog=PrakaRework2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>